/* Light Theme Variables */
:root {
  /* Primary Colors */
  --primary-color: #323b4c;
  --secondary-color: #41729f;
  --secondary-color-hover: #36567a;

  /* Backgrounds and Text */
  --background-color: #f5f5f5;
  --text-color: #2d3436;

  /* Dimensions and Typography */
  --header-height: 70px;
  --font-family: "Arial", sans-serif;

  /* Transformations */
  --button-hover-transform: scale(1.05);
}

/* Dark Theme Variables (Red and Black) */
[data-theme="dark"] {
  /* Primary Colors */
  --primary-color: #000000;
  --secondary-color: #b71c1c;
  --secondary-color-hover: #8b0000;

  /* Backgrounds and Text */
  --background-color: #121212;
  --text-color: #f1f1f1;

  /* Card Background */
  --card-background-color: #1e1e1e;

  /* Transformations */
  --button-hover-transform: scale(1.05);
}
