@import "../styles/variables.css";

.contactSection {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--primary-color);
  padding: 40px 20px; /* Reduced padding on sides to align content better */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 750px; /* Adjusted to reduce extra width */
  margin: 0 auto; /* Centering */
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.title {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-family: var(--font-family);
}

.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 15px; /* Reduced margin between fields */
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
  color: white;
}

.input,
.textarea {
  width: calc(100% - 30px); /* Adjusted width to align better */
  padding: 15px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--font-family);
  transition: border-color 0.3s ease;
}

.input:focus,
.textarea:focus {
  border-color: var(--secondary-color);
  outline: none;
}

.textarea {
  resize: none;
  height: 150px;
}

.submitButton {
  background-color: var(--secondary-color);
  color: white;
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submitButton:hover {
  background-color: var(--secondary-color-hover);
  transform: var(--button-hover-transform);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    padding: 20px 10px; /* Further reduce padding for smaller screens */
  }
}
