.footer {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: var(--secondary-color);
}

.footer-section p,
.footer-section a {
  font-size: 0.9em;
  color: var(--background-color);
  text-decoration: none;
}

.footer-section a:hover {
  color: var(--secondary-color);
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: var(--background-color);
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: var(--secondary-color);
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.8em;
  color: var(--background-color);
}

.footer-section .social a {
  font-size: 1.5em;
  margin: 0 10px;
  color: var(--background-color);
  transition: color 0.3s;
}

.footer-section .social a:hover {
  color: var(--secondary-color);
}
