.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.resumeImage {
  width: 100%;
  height: auto;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  margin-top: 20px;
}
